# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.env
.venv
env/
venv/
.health/

# ChromaDB & local data
data/
*.sqlite3

# Logs
logs/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
